<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
         <rewrite>
            <rewriteMaps>
                <rewriteMap name="http://mysite.local/" />
            </rewriteMaps>
            <rules>
                <rule name="HTTP" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="http://mysite.local/" redirectType="Found" />
                </rule>
                <!-- <rule name="HTTP" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://mysite.local/" redirectType="Found" />
                </rule> -->
                <rule name="Redirect to listingPagePdf.cfm" stopProcessing="true">
                    <match url="^pdf$" />
                    <action type="Redirect" url="https://mysite.local/?action=pdf" redirectType="Permanent" />
                </rule>
                <rule name="Redirect to listingPageExcel.cfm" stopProcessing="true">
                    <match url="^sheet$" />
                    <action type="Redirect" url="http://mysite.local/?action=sheet" redirectType="Permanent" />
                </rule>
                <rule name="Redirect to signUp.cfm" stopProcessing="true">
                    <match url="^signup$" />
                    <action type="Redirect" url="http://mysite.local/?action=signup" redirectType="Permanent" />
                </rule>
                <rule name="Redirect to login.cfm" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Redirect" url="http://mysite.local/?action=login" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

