<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="http://mysite.local/" />
            </rewriteMaps>
            <rules>
                <rule name="HTTP" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="http://mysite.local/" redirectType="Found" />
                </rule>
                <rule name="Redirect to login" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Rewrite" url="/index.cfm?action=login" appendQueryString="false" />
                </rule>
                <rule name="Redirect to signUp" stopProcessing="true">
                    <match url="^signup$" />
                    <action type="Rewrite" url="/index.cfm?action=signup" appendQueryString="false" />
                </rule>
                <rule name="Redirect to display" stopProcessing="true">
                    <match url="^display$" />
                    <action type="Rewrite" url="/index.cfm?action=display" appendQueryString="false" />
                </rule>
                <rule name="Redirect to pdf" stopProcessing="true">
                    <match url="^pdf$" />
                    <action type="Rewrite" url="/index.cfm?action=pdf" appendQueryString="false" />
                </rule>
                <!-- <rule name="Redirect to error" stopProcessing="true">
                    <match url="^((?!(login$|display$|signup$|pdf$)).)*$" />
                    <action type="Rewrite" url="/index.cfm?action=error" appendQueryString="false" />
                </rule> -->
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/index.cfm?action=error" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>




