<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="http://mysite.local/" />
            </rewriteMaps>
            <rules>
                <rule name="HTTP" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="http://mysite.local/" redirectType="Found" />
                </rule>
                <rule name="rule login.cfm" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Rewrite" url="/index.cfm?action=login" />
                </rule>
                <rule name="rule signUp.cfm" stopProcessing="true">
                    <match url="^signup$" />
                    <action type="Rewrite" url="/index.cfm?action=signup" />
                </rule>
                <rule name="Rewrite to index.cfm">
                    <match url="^display$" />
                    <action type="Rewrite" url="/index.cfm?action=display" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>




