* {
	padding: 0;
	margin: 0;
}
:root{
	--white : #ffffff;
	--darkBlue : #1469adcf;
	--gray : #eaeaea;
	--silverSand : #c5c3c3;
}
.logoTitle,
.navLinks,
.navLogoTitle,
.inputField,
.container,
.loginInnerSection,
.navbarLogIcon,
.subHeader,
.contactMainTitle,
.commonStyle,
.createContactImgSection,
.viewSection,
.displayContact,
.tableWidth,
.file-upload-wrapper {
	position: relative;
}
.navLogoTitle,
.navbar-text,
.loginTitle,
.formSection,
.footerMediaIcons,
.loginBtnSection,
.topDownloadBar,
.createContactSection,
.listingPageSection,
.midSection,
.loginUserImg,
.loginUserName,
.createBtnSection {
	display: flex;
}
.loginTitle,
.footerMediaIcons,
.loginBtnSection,
.listingPageSection,
.loginUserImg,
.loginUserName,
.createBtnSection,
.loginContainer,
.formSection {
	justify-content: center;
}	

.footerMediaIcons,
.loginBtnSection,
.topDownloadBar,
.listingPageSection,
.loginContainer {
	align-items: center;
}

.loginContainer,
.midSection,
.dataListingSection,
.topDownloadBar {
	width: 100%;
}

.logoTitle,
.navLinks {
	color: var(--white);
	font-size: 15px;
	top: 5px;
}

.navbar {
	padding-top: 2px !important;
	background-color: var(--darkBlue);
}

.navLinks {
	text-decoration: none;
	font-size: small;
	margin-top: 1px;
}

.navLogoTitle {
	margin-left: 25px;
	top: 4px;
}

.navbar-expand-lg .navbar-collapse {
	position: relative;
	right: 47px;
}

.navbar-text {
	gap: 35px;
}

.inputField {
	left: 10px;
	top: 10px;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
}

.bodySection {
	background-color: #b1cce463;
}
.loginSectionImg,
.loginSectionContent{
	height: 430px;
}
.loginSectionImg {
	border: 1px solid var(--darkBlue);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: var(--darkBlue);
}

.loginSectionContent {
	border: 1px solid var(--white);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.container {
	top: 60px;
}

.loginSectionImg img {
	position: relative;
	top: 150px;
	left: 30px;
}

.loginTitle {
	color: var(--darkBlue);
	font-size: 28px;
}

.loginInnerSection {
	left: 1px;
}

.wrapper {
	background-color: rgb(239, 248, 255);
	width: 400px;
	border-radius: 8px;
	padding: 30px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
}

h2 {
	font-size: 2rem;
	margin-bottom: 20px;
	color: black;
}

.input-field {
	border-bottom: 2px solid #ccc;
	margin: 15px 0;
}

.input-field label {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	color: black;
	font-size: 16px;
	pointer-events: none;
	transition: 0.15s ease;
}

.input-field input {
	width: 100%;
	height: 40px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	color: black;
}

.input-field input:focus~label,
.input-field input:valid~label {
	font-size: 0.8rem;
	top: 10px;
	transform: translateY(-120%);
}
.wrapper a {
	color: #aa0f0f;
	text-decoration: none;
}

.wrapper a:hover {
	text-decoration: underline;
}

button {
	background: #e6cdcd;
	color: #000;
	font-weight: 600;
	border: none;
	padding: 12px 20px;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
	border: 2px solid transparent;
	transition: 0.3s ease;
}

.btnSubmit:hover {

	border-color: #fff;
	background: rgba(255, 255, 255, 0.15);
}

.register {
	text-align: center;
	margin-top: 30px;
	color: #080202;
}

.inputFieldBottom {
	padding-bottom: 1px;
}

.btnSubmit {
	width: 245px !important;
	border: 1px solid var(--darkBlue) !important;
	border-radius: 20px !important;
	padding: 3px !important;
	color: var(--darkBlue) !important;
}

.mediaIcons {
	border-radius: 50%;
}

.footerSignInSection {
	margin-bottom: 0px;
	margin-top: 15px;
}

.loginBtnSection a {
	text-decoration: none;
}

.signInSection {
	height: 515px;
}

.navbar-text {
	display: unset !important;
}

.logoutImg {
	margin-top: 8px;
}

.logoutLink {
	font-size: 14px;
}

.topDownloadBar {
	justify-content: end;
	left: 90px;
	top: 20px;
	height: 60px;
	border-radius: 4px;
	padding-right: 45px;
}

.NavbarLogoutLink {
	margin-right: 19px;
}

.topDownloadBar,
.createContactSection,
.dataListingSection,
.loginSectionContent {
	background-color: var(--white);
}
.createContactSection,
.listingPageSection {
	flex-direction: column;
}
.createContactSection {
	padding: 20px;
	width: 20%;
}

.dataListingSection {
	min-height: 300px;
}

.listingPageSection {
	padding: 0 8%;
   	margin: 30px 0px;
    gap: 20px;
}

.midSection {
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;
}

.loginUserImg img {
	width: 75px;
	height: 75px;
	margin-top: 20px;
}

.createBtn {
	padding: 2px !important;
	border-radius: 20px !important;
	font-size: 13px !important;
	color: var(--white) !important;
	background-color: var(--darkBlue) !important;
	border: none !important;
}

.navbarLogIcon {
	color: var(--white);
	font-size: medium !important;
	top: 9px;
}

.popupContactHeader,
.uploadPopup,
.popupContactHeader {
	background-color: var(--white) !important;
}

.popupContactHeader {
	width: 550px;
	height: 860px !important;
}

.outerContainer,
.uploadContainer,
.subHeader {
	background-color: #DAEEF7 !important;
}

.outerContainer {
	width: 700px !important;
	height: 862px !important;
}

.subHeader {
	width: 352px;
	left: 103px;
	top: 50px;
	height: 40px;
}

.contactMainTitle {
	top: 8px;
	color: var(--darkBlue);
	font-size: larger;
	font-weight: 700;
}

.commonStyle {
	left: 102px;
	top: 82px;
}

.personalContact {
	border-bottom: 2px solid var(--darkBlue);
	width: 338px;
}

.personalContact p {
	margin-bottom: 1px;
	color: var(--darkBlue);
	font-size: large;
	font-weight: 700;
}

.commonInputStyle {
	border-left: none;
	border-right: none;
	border-top-color: var(--gray);
	border-bottom-color: var(--silverSand);
}

.selectTitle {
	width: 63px;
}

.setNameWidth {
	width: 115px;
	height: 25px;
}

.createContactImgSection {
	top: 100px;
}

.commonNameStyle {
	border: none;
	border-top: 1px solid var(--gray);
	border-bottom: 1px solid var(--silverSand);
}

.firstNameSection,
.lastNameSection,
.photoStyle {
	margin-top: 15px;
}

.firstNameSection {
	gap: 23px;
}

.lastNameSection {
	gap: 18px;
}

.setGenderWidth {
	width: 157px;
}

.setDateWidth {
	width: 135px;
}

.photoStyle p {
	color: var(--darkBlue);
	font-size: medium;
	font-weight: 500;
}

.setFileWidth {
	width: 218px;
}

.loginContainer {
	margin-top: 50px;
}
.loginLeftSection,
.loginRightSection {
	height: 500px;
}
.loginLeftSection {
	background-color: burlywood !important;
	width: 200px;
}

.loginRightSection {
	background-color: aquamarine;
}

.tableField {
	color: var(--darkBlue);
}

.viewSection {
	left: 75px;
	top: 70px;
}

.viewField {
	font-size: 14px;
	font-weight: 700;
}

.displayContact {
	left: 75px;
	top: 85px;
}

.contactTextColor {
	color: var(--darkBlue);
}

.tableRowStyle {
	line-height: 52px;
}

.dataTable {
	margin-top: 16px;
	position: static;
}

.FieldFontSize {
	font-size: small;
}
.setRowWidth{
	width:100px;
}
tr,
thead {
	border-bottom: 1px solid var(--gray) !important;
}
th, td {
	text-align: left;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
  }
td {
	padding: 10px 20px;
}

.tableBorder {
	border-top-color: #aa0f0f;
	border-bottom-color: #080202;
}

.tableDataRow {
	border-top: 1px solid var(--gray);
	border-bottom: 1px solid var(--gray);
	line-height: 65px;
}

.tableHeaderRow {
	line-height: 53px;
}

.tableWidth {
	left: 65px;
}

.uploadContainer {
	height: 340px !important;
}

.uploadPopup {
	height: 338px !important;
	width: 490px;
}

.uploadContainer {
	width: fit-content !important;
}

.viewBtn {
	padding : 2px 25px !important;
	border-radius: 15px !important;
	border-color: var(--darkBlue) !important;
	color: var(--darkBlue) !important;
	font-size: small !important;
}

.file-upload-wrapper {
	overflow: hidden;
	display: inline-block;
	width: auto;
	height: 110px;
}

.file-upload-wrapper input[type="file"] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}

.file-upload-button {
	border: 1px solid #ccc;
	padding: 6px 12px;
}

.contactDetailsContainer {
	left: 100px;
}

.viewName{
	padding-left: 48px;
}

.viewGender{
	padding-left: 41px;
}

.viewAddress, .viewEmail{
	padding-left: 36px;
}

.viewPincode{
	padding-left: 37px;
}

.viewPhone{
	padding-left: 45px;
}

.dataTable {
	width: 100%;
	border-collapse: collapse;
}

.dataTable th,
.dataTable td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.dataTable td.setRowWidth {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.word-wrap {
	width: 200px;
	word-wrap: break-word;
}
.excelErrorMsg{
	padding: 13px 8px;
    width: fit-content;
}
.btnEdit:hover{
	background-color: var(--white) !important;
}

.btnDelete:hover{
	background-color: var(--white) !important;
}

.btnView:hover{
	background-color: var(--white) !important;
}

.navLinks:hover{
	text-decoration: none;
	color: var(--white) !important;
}

.btnSubmit:hover{
	background-color: var(--white) !important;
}

.file-upload-button,
.logoutImg,
.mediaIcons{
	cursor: pointer;
}

.validationMsg{
	margin-bottom: 0px !important;
	margin-left: 60px;
    position: relative;
    top: 1px;
}

.registerBtn{
	margin-top: 30px;
}

.errorContainer{
	background-color: aliceblue !important;
}

.errorTitle{
	display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 42px 1px !important;
    color: red !important;
}

.btnViewClose{
	margin-left: 25px;
}

.pdfTable{
	word-wrap: break-word;
}

.hobbieDropdown { 
	position: relative; 
	width: 200px; 
}

.select-box { 
	cursor: pointer; 
	padding: 10px; 
	border: 1px solid #ccc; 
}

#optionsList { 
	display: none;
	position: absolute;
	top: 100%; 
	left: 0; 
	width: 100%; 
	border: 1px solid #ccc; 
	background: #fff; 
	max-height: 150px; 
	overflow-y: auto; 
}

#optionsList option { 
	padding: 10px; cursor: pointer; 
	color: var(--darkBlue);
	
}

#optionsList option:hover, #optionsList option.selected { 
	background: #f0f0f0; 
}
.btnTemplate:hover{
	color: green;
}
.excelTemplate{
	font-size: 9px;
	color: white;
	text-decoration: none;
}
.excelTemplate:hover{
	color: white;
}

.btnData{
	background-color: #2196F3 !important;
}

.btnPlain{
	background-color: #20c997 !important;
}
